@import 'node_modules/ant-design-vue/es/style/index';
// TODO: 待废弃 grid，明显增加 css 体积
@import 'node_modules/ant-design-vue/es/grid/style/index';
@import 'node_modules/ant-design-vue/es/config-provider/style/index';

@import 'node_modules/ant-design-vue/es/collapse/style/index';
@import 'node_modules/ant-design-vue/es/tabs/style/index';
@import 'node_modules/ant-design-vue/es/tabs/style/index';
@import 'node_modules/ant-design-vue/es/tooltip/style/index';
@import 'node_modules/ant-design-vue/es/dropdown/style/index';
@import 'node_modules/ant-design-vue/es/spin/style/index';
@import 'node_modules/ant-design-vue/es/skeleton/style/index';

@import 'node_modules/ant-design-vue/es/form/style/index';
@import 'node_modules/ant-design-vue/es/input/style/index';
@import 'node_modules/ant-design-vue/es/input-number/style/index';
@import 'node_modules/ant-design-vue/es/slider/style/index';
@import 'node_modules/ant-design-vue/es/select/style/index';
@import 'node_modules/ant-design-vue/es/switch/style/index';

@ant-prefix: editor;

@primary-color: #1890ff;
@padding-md: 16px;
@padding-sm: 12px;

@border-color-base: #d9d9d9;

@collapse-header-padding-extra: 40px;
@collapse-content-padding: 0;
@collapse-header-padding: 10px @padding-sm;
@collapse-panel-border-radius: 0;
@collapse-content-bg: var(--widget-color);

@tabs-bar-margin: 0;
@tabs-horizontal-margin: 0 @padding-md 0 0;
@tabs-horizontal-padding: 10px @padding-md;
@form-item-margin-bottom: @padding-sm;

.editor-collapse-content {
  border-top-color: transparent;
}

.editor {
  --primary-color: @primary-color;
  --hover-color: color(~`colorPalette('@{primary-color}', 5) `);
  --text-color: rgba(0, 0, 0, 0.65);
  --heading-color: rgba(0, 0, 0, 0.85);
  --border-color: @border-color-base;
  --widget-color: #fafafa;
  --layout-background: #f0f2f5;

  --padding-large: 24px;
  --padding-middle: @padding-md;
  --padding-small: @padding-sm;

  --menubar-height: 32px;
  --statusbar-height: 22px;
  --sash-size: 8px;
}

.editor {
  &-widget-title {
    font-size: 14px;
    font-weight: 500;
    color: var(--heading-color);
    padding: var(--padding-small);
    margin: 0;
  }

  &-widget-skeleton {
    padding: var(--padding-middle);
    padding-bottom: 0;
  }
}
