@import 'ant-design-vue/es/style/index.less';
@import 'ant-design-vue/es/collapse/style/index.less';

@padding-md: 12px;
@collapse-header-padding: 8px;
@collapse-header-padding-extra: 32px;
@collapse-content-padding: 0;
